html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card {
    border: none;
    transition: 0.3s;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        height: 250px;
        object-fit: cover;
    }

footer {
    margin-top: 80px;
}
.carousel-item img {
    height: 550px;
    object-fit: cover;
}

.carousel-caption {
    bottom: 20%;
}

@media (max-width:768px) {
    .carousel-item img {
        height: 300px;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
    }
}